@use "../../variables" as v;
@use "../../mixin" as m;

.draft-dashboard-parent {
  display: flex;
  max-width: 700px;
  width: 100%;
  position: relative;
  justify-content: center;

  main {
    width: 100%;

    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
    @include m.panel-box-shadow;
    height: fit-content;
    .tab-top {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 4px;
      min-height: 30px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid black;
      background-color: v.$peach;

      .action-group {
        display: flex;
        @include m.gap-12px;
      }
    }

    .drafts-feed {
      display: flex;
      flex-direction: column;
      gap: 12px;

      padding: 12px 12px;
      width: 100%;
      align-items: center;

      max-height: 440px;
      overflow-y: auto;
      background-color: #eaddd1;

      .label-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        padding: 0px 8px;
      }
      .draft-parent {
        width: 100%;
        padding: 8px;
        border: 2px black solid;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        gap: 12px;

        .post-date {
          font-weight: bold;
          display: flex;
          gap: 8px;
        }
      }

      .no-drafts-bar {
        padding: 8px;
        border: 2px black solid;
        border-radius: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .pink {
      background-color: #f59098;
    }

    .yellow {
      background-color: v.$peach;
    }

    .blue {
      background-color: #1c8ec1;
    }
  }
}
