@use "../../mixin" as m;
@use "../../variables" as v;

.create-post-parent {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  .create-post-main {
    width: 100%;

    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;

    height: fit-content;
    background-color: v.$panel_white;
    position: relative;

    @include m.panel-box-shadow;
    .tab-top {
      @include m.tab-header(v.$red_orange);
      .action-group {
        @include m.gap-12px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      margin: 16px 24px;
      gap: 24px;

      .input-group {
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: 18px;
        font-weight: bold;
      }

      input,
      textarea {
        color: #d57557;
        border-radius: 6px;
        font-size: 18px;
        padding-left: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 2px solid black;
      }

      textarea {
        resize: none;
        font-family: inherit;
        height: 300px;
      }

      textarea::-webkit-scrollbar-thumb {
        background: v.$red_orange; /* thumb color */
      }
    }
  }
}
