.dashboard-main {
  font-family: Roboto;
  box-sizing: border-box;
}

.logout-button {
  border: none;
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
}

.posts-feed {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.post-parent {
  width: 600px;
  padding: 8px;
  border: 1px black solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-date {
  color: rgb(83, 83, 83);
  font-size: 14px;
  display: flex;
  gap: 8px;
}

.user-post-sections {
  display: flex;
  gap: 36px;
}

.action-bar {
  display: flex;
  align-items: center;
}
