@use "_variables" as v;

.app-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: v.$panel_white;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0px 12px;
  h1 {
    font-size: 54px;
  }
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 36px;
}

@media (max-width: 700px) {
  .app-wrapper {
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    min-height: 100vh;
  }
  .App {
    flex-direction: column;
    .action-header {
      flex-direction: row;
      justify-content: center;
    }
    .dashboard-parent {
      order: 3;
      .posts-feed {
        max-height: none;
      }
    }
    .actions {
      flex-direction: row;
      justify-content: center;
      order: 2;
    }
    .action-button {
      img {
        width: 80px;
        height: 80px;
      }
      p {
        padding: 2px 6px;
        font-size: 14px;
      }
    }
  }
}

/* Style for all scrollbars */
::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
  background: #e8e2d7; /* track color */
}

::-webkit-scrollbar-track {
  border-left: 2px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  background: v.$peach; /* thumb color */
  border-radius: 14px; /* square corners */
  border: 2px solid black;
  border-right: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* Handle active or clicked state */
::-webkit-scrollbar-thumb:active {
}
