@use "_variables" as v;

.app-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: v.$panel_white;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  h1 {
    font-size: 54px;
  }
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 36px;
}

/* Style for all scrollbars */
::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
  background: #e8e2d7; /* track color */
}

::-webkit-scrollbar-track {
  border-left: 2px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  background: v.$peach; /* thumb color */
  border-radius: 14px; /* square corners */
  border: 2px solid black;
  border-right: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* Handle active or clicked state */
::-webkit-scrollbar-thumb:active {
}
