@use "../../variables" as v;
@use "../../mixin" as m;

.not-found-parent {
  display: flex;
  max-width: 700px;
  width: 100%;
  justify-content: center;

  main {
    width: 100%;

    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;

    height: fit-content;
    background-color: v.$panel_white;
    position: relative;

    @include m.panel-box-shadow;

    .tab-top {
      @include m.tab-header(v.$blue);
      .action-group {
        @include m.gap-12px;
      }
    }

    p {
      padding: 24px;
      font-size: 84px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 420px;
    }
  }
}
